<div class="form-group row">
  <div class="col-12">
    <label for="username">Usuario</label>
    <input id="usernam" type="text" class="form-control" value="{{ dataUser.username }}" disabled />
  </div>
  <div class="col-12">
    <label for="firstName">Nombre</label>
    <input id="firstName" type="text" class="form-control" value="{{ dataUser.firstName }}" disabled />
  </div>
  <div class="col-12">
    <label for="middleName">Apellido Paterno</label>
    <input id="middleName" type="text" class="form-control" value="{{ dataUser.middleName }}" disabled />
  </div>
  <div class="col-12">
    <label for="lastName">Apellido Materno</label>
    <input id="lastName" type="text" class="form-control" value="{{ dataUser.lastName }}" disabled />
  </div>
  <div class="col-12">
    <label for="role">Rol</label>
    <input id="role" type="text" class="form-control" value="{{ dataUser.role }}" disabled />
  </div>
</div>
