<router-outlet></router-outlet>

<div class="card centrar">
    <p-card>
        <h1 class="text-center title">Expediente del paciente</h1>
        <br />
    </p-card>

    <div class="cards-list">
        <div class="wrapper">

            <div class="clash-card barbarian" [routerLink]="['/patient/detail-patient/temperature/12']">

                <div class="clash-card__image clash-card__image--barbarian">

                    <img src="https://images.vexels.com/media/users/3/144260/isolated/preview/d606d19b021fd53d278b26a11a4b468f-icono-de-temperatura-feber.png"
                        alt="barbarian" />

                </div>

                <div class="clash-card__level clash-card__level--barbarian">Indicador</div>

                <div class="clash-card__unit-name">Temperatura</div>

                <div class="clash-card__unit-description">

                    En este módulo podrás visualizar y hacer seguimiento a la temperatura corporal de la persona,
                    ayudando a identificar cambios importantes en su salud.

                </div>



                <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">

                    <div class="one-third">

                        <div class="stat">26</div>

                        <div class="stat-value">Mínima</div>

                    </div>



                    <div class="one-third">

                        <div class="stat">28</div>

                        <div class="stat-value">Máxima</div>

                    </div>



                    <div class="one-third no-border">

                        <div class="stat">27</div>

                        <div class="stat-value">Promedio</div>

                    </div>



                </div>



            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card archer" [routerLink]="['/patient/detail-patient/heart-rate/12']">

                <div class="clash-card__image clash-card__image--archer">

                    <img src="https://cdn-icons-png.flaticon.com/512/4403/4403838.png" alt="archer" />

                </div>

                <div class="clash-card__level clash-card__level--archer">Indicador</div>

                <div class="clash-card__unit-name">Frecuencia Cardiaca</div>

                <div class="clash-card__unit-description">

                    Este módulo permite monitorear los latidos por minuto, ayudando a evaluar el estado del corazón y la
                    condición física de la persona.

                </div>



                <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">

                    <div class="one-third">

                        <div class="stat">25</div>

                        <div class="stat-value">Mínima</div>

                    </div>



                    <div class="one-third">

                        <div class="stat">24</div>

                        <div class="stat-value">Máxima</div>

                    </div>



                    <div class="one-third no-border">

                        <div class="stat">300</div>

                        <div class="stat-value">Promedio</div>

                    </div>



                </div>



            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card giant" [routerLink]="['/patient/detail-patient/fall-detector/12']">

                <div class="clash-card__image clash-card__image--giant">

                    <img src="https://static.vecteezy.com/system/resources/thumbnails/012/042/301/small/warning-sign-icon-transparent-background-free-png.png"
                        alt="giant" />

                </div>

                <div class="clash-card__level clash-card__level--giant">Indicador</div>

                <div class="clash-card__unit-name">Detección de Caídas</div>

                <div class="clash-card__unit-description">

                    En este módulo se muestran eventos de posibles caídas, permitiendo una respuesta rápida y mejorando
                    la seguridad de la persona.

                </div>



                <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">

                    <div class="one-third no-border">

                        <div class="stat"></div>

                        <div class="stat-value"></div>

                    </div>

                    <div class="one-third no-border">

                        <div class="stat">2</div>

                        <div class="stat-value">Registros</div>

                    </div>





                </div>



            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card goblin" [routerLink]="['/patient/detail-patient/location/12']">

                <div class="clash-card__image clash-card__image--goblin">

                    <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" alt="goblin" />

                </div>

                <div class="clash-card__level clash-card__level--goblin">Indicador</div>

                <div class="clash-card__unit-name">Geolocalización</div>

                <div class="clash-card__unit-description">

                    Este módulo permite conocer y hacer seguimiento a la ubicación en tiempo real de la persona,
                    brindando mayor control y seguridad.

                </div>

                <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">

                    <div class="one-third no-border">

                        <div class="stat"></div>

                        <div class="stat-value"></div>

                    </div>

                    <div class="one-third no-border">

                        <div class="stat">2</div>

                        <div class="stat-value">Registros</div>

                    </div>



                </div>



            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card wizard" [routerLink]="['/patient/detail-patient/oxygen-saturation/12']">

                <div class="clash-card__image clash-card__image--wizard">

                    <img src="https://cdn-icons-png.flaticon.com/512/5200/5200844.png" alt="wizard" />

                </div>

                <div class="clash-card__level clash-card__level--wizard">Indicador</div>

                <div class="clash-card__unit-name">Saturación de Oxígeno</div>

                <div class="clash-card__unit-description">

                    Este módulo muestra el nivel de oxígeno en la sangre, un dato clave para evaluar la función
                    respiratoria y el estado general de salud.

                </div>



                <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">

                    <div class="one-third">

                        <div class="stat">90</div>

                        <div class="stat-value">Mínimo</div>

                    </div>



                    <div class="one-third">

                        <div class="stat">96</div>

                        <div class="stat-value">Máximo</div>

                    </div>



                    <div class="one-third no-border">

                        <div class="stat">94</div>

                        <div class="stat-value">Promedio</div>

                    </div>



                </div>



            </div>

        </div>
    </div>