<router-outlet></router-outlet>

<div class="card centrar">
    <br>
    <h4 class="mb-2 text-primary text-center title">Expediente del paciente - {{patient.firstName}}</h4>
    <br>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h5>&nbsp;&nbsp;&nbsp; Seleccione el indicador a consultar:</h5>
        </ng-template>
  
        <ng-template pTemplate="right">
            <p-button [routerLink]="['/patient']" label="Regresar" icon="pi pi-arrow-left"
            styleClass="p-button-sm p-button-danger" [style]="{ 'margin-right': '.6em' }"> </p-button>
          </ng-template>
      </p-toolbar>
    <br>
    <div class="scrollable-tab-content">

    
    <div class="cards-list" style="margin-left: 80px;">
        <div class="wrapper">
        
            <div class="clash-card barbarian" [routerLink]="['/patient/detail-patient/temperature',hash]">
                <div class="clash-card__image clash-card__image--barbarian">
                    <img src="assets/images/temperature.png"
                        alt="barbarian" />
                </div>
                <div class="clash-card__level clash-card__level--barbarian">Indicador</div>
                <div class="clash-card__unit-name">Temperatura</div>
                <div class="clash-card__unit-description">
                    En este módulo podrás darle seguimiento a la temperatura corporal de la persona,
                    ayudando a identificar cambios importantes en su salud.
                </div>

                <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                    <div class="one-third">
                        <div class="stat">26</div>
                        <div class="stat-value">Mínima</div>
                    </div>

                    <div class="one-third">
                        <div class="stat">28</div>
                        <div class="stat-value">Máxima</div>
                    </div>

                    <div class="one-third no-border">
                        <div class="stat">27</div>
                        <div class="stat-value">Promedio</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">

            <div class="clash-card archer" [routerLink]="['/patient/detail-patient/heart-rate/12']">

                <div class="clash-card__image clash-card__image--archer">
                    <img src="assets/images/heart-rate.png" alt="heart-rate" />
                </div>
                <div class="clash-card__level clash-card__level--archer">Indicador</div>
                <div class="clash-card__unit-name">Frecuencia Cardiaca</div>
                <div class="clash-card__unit-description">
                    Este módulo permite monitorear los latidos por minuto, ayudando a evaluar el estado del corazón y la
                    condición física de la persona.
                </div>
                <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                    <div class="one-third">
                        <div class="stat">25</div>
                        <div class="stat-value">Mínima</div>
                    </div>
                    <div class="one-third">
                        <div class="stat">24</div>
                        <div class="stat-value">Máxima</div>
                    </div>
                    <div class="one-third no-border">
                        <div class="stat">300</div>
                        <div class="stat-value">Promedio</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card giant" [routerLink]="['/patient/detail-patient/fall-detector/12']">
                <div class="clash-card__image clash-card__image--giant">
                    <img src="assets/images/fall-detector.png"
                        alt="fall-detector" />
                </div>
                <div class="clash-card__level clash-card__level--giant">Indicador</div>
                <div class="clash-card__unit-name">Detección de Caídas</div>
                <div class="clash-card__unit-description">
                    En este módulo se muestran eventos de posibles caídas, permitiendo una respuesta rápida y mejorando
                    la seguridad de la persona.
                </div>

                <div class="clash-card__unit-stats clash-card__unit-stats--giant clearfix">
                    <div class="one-third no-border">
                        <div class="stat"></div>
                        <div class="stat-value"></div>
                    </div>
                    <div class="one-third no-border">
                        <div class="stat">2</div>
                        <div class="stat-value">Registros</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card goblin" [routerLink]="['/patient/detail-patient/location/12']">

                <div class="clash-card__image clash-card__image--goblin">
                    <img src="assets/images/location-icon.png" alt="location-icon" />
                </div>
                <div class="clash-card__level clash-card__level--goblin">Indicador</div>
                <div class="clash-card__unit-name">Geolocalización</div>
                <div class="clash-card__unit-description">
                    Este módulo permite conocer y hacer seguimiento a la ubicación en tiempo real de la persona,
                    brindando mayor control y seguridad.
                </div>

                <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
                    <div class="one-third no-border">
                        <div class="stat"></div>
                        <div class="stat-value"></div>
                    </div>
                    <div class="one-third no-border">
                        <div class="stat">2</div>
                        <div class="stat-value">Registros</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper">

            <div class="clash-card wizard" [routerLink]="['/patient/detail-patient/oxygen-saturation/12']">

                <div class="clash-card__image clash-card__image--wizard">

                    <img src="assets/images/oxygen-saturation.png" alt="wizard" />

                </div>

                <div class="clash-card__level clash-card__level--wizard">Indicador</div>

                <div class="clash-card__unit-name">Oxígeno</div>

                <div class="clash-card__unit-description">

                    Este módulo muestra el nivel de oxígeno en la sangre, un dato clave para evaluar la función
                    respiratoria y el estado general de salud.

                </div>



                <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">

                    <div class="one-third">

                        <div class="stat">90</div>

                        <div class="stat-value">Mínimo</div>

                    </div>



                    <div class="one-third">

                        <div class="stat">96</div>

                        <div class="stat-value">Máximo</div>

                    </div>



                    <div class="one-third no-border">

                        <div class="stat">94</div>

                        <div class="stat-value">Promedio</div>

                    </div>



                </div>



            </div>

        </div>
    </div></div>
</div>