<form [formGroup]="newDetailGroup" (ngSubmit)="updatePassword()" class="needs-validation center"
  novalidate="novalidate">
  <div class="form-group row">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-3">
        <label>Contraseña*</label>
        <div class="input-group">
          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control input-size" placeholder="Contraseña"
              id="password" name="password" formControlName="password" [class]="{
                  'is-invalid':
                  password.invalid &&
                      (password.dirty ||
                      password.touched ||
                      password.errors.minlength ||
                      password.errors.maxlength),
                  'is-valid': password.valid
          }"/>
          <div class="input-group-append">
              <span class="input-group-text">
                  <i class="pi" [ngClass]="{'pi-eye-slash': !fieldTextType, 'pi-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
              </span>
          </div>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors.required">
                  El campo es obligatorio
              </div>
              <div *ngIf="password.errors.minlength">
                  La contraseña debe ser de al menos 6 caracteres
              </div>
              <div *ngIf="password.errors.maxlength">
                  La contraseña máximo debe tener 15 caracteres
              </div>
          </div>
      </div>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label>Confirmar contraseña*</label>
        <div class="input-group">
          <input [type]="fieldTextTypeConfirmation ? 'text' : 'password'" class="form-control input-size"
            placeholder="Repite la contraseña" id="confirmPassword" name="confirmPassword"
            formControlName="confirmPassword" [class]="{
                  'is-invalid':
                  confirmPassword.invalid &&
                      (confirmPassword.dirty ||
                      confirmPassword.touched ||
                      confirmPassword.errors.minlength ||
                      confirmPassword.errors.maxlength),
                  'is-valid': confirmPassword.valid
          }" />
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="pi"
                [ngClass]="{'pi-eye-slash': !fieldTextTypeConfirmation, 'pi-eye': fieldTextTypeConfirmation}"
                (click)="toggleFieldTextTypeConfirmation()"></i>
            </span>
          </div>

          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
            <div *ngIf="confirmPassword.errors.required">
              El campo es obligatorio
            </div>
            <div *ngIf="confirmPassword.errors.minlength">
              La contraseña debe ser de al menos 6 caracteres
            </div>
            <div *ngIf="confirmPassword.errors.maxlength">
              La contraseña máximo debe tener 15 caracteres
            </div>
            <div *ngIf="confirmPassword.errors.confirmedValidator">
              La contraseña y la confirmación deben ser las mismas
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row centrar">
    <p-button type="submit" label="Guardar" icon="pi pi-check" styleClass="p-button-sm p-button-success" id="btnGuardar" ></p-button>
  </div>
</form>
