<router-outlet></router-outlet>

<div class="card centrar">
  <p-card>
    <h4 style="text-align:center;">Detalle del usuario</h4>

    <div class="p-fluid p-grid">

      <div class="p-field p-col-12 p-md-3">
        <label for="permission">Rol</label>
        <input id="permission" type="text" class="form-control" value="{{ user.roleName }}" disabled />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="description">Usuario</label>
        <input id="description" type="text" class="form-control" value="{{ user.username}}" disabled />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="description">Nombre</label>
        <input id="description" type="text" class="form-control" value="{{ user.firstName}}" disabled />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="description">Apellido paterno</label>
        <input id="description" type="text" class="form-control" value="{{ user.middleName }}" disabled />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="description">Apellido materno</label>
        <input id="description" type="text" class="form-control" value="{{ user.lastName}}" disabled />
      </div>

      <p-button [routerLink]="['/managment/manage-users']" label="Regresar" icon="pi pi-arrow-left"
        styleClass="p-button-sm p-button-danger" id="btnReturn"></p-button>
    </div>
  </p-card>
</div>
