<router-outlet></router-outlet>


<div *ngIf="router.url == '/managment/manage-roles'">
  <div class="card centrar">
    <header>
      <h1 class="text-center title">Administraci&oacute;n de roles</h1>
    </header>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-button styleClass="p-button-sm" label="Inicio" [routerLink]="['/home']"></p-button>
      </ng-template>

      <ng-template pTemplate="right">
        <ng-template [ngxPermissionsOnly]="['CREATE.ROLE']">
          <p-button styleClass="p-button-sm p-button-success" label="Nuevo Rol" icon="pi pi-plus"
            [routerLink]="['new-role']"></p-button>
        </ng-template>
      </ng-template>
    </p-toolbar>
    <p-table styleClass="p-datatable-sm p-datatable-striped p-datatable-responsive-demo" #dt [value]="roles"
      [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Registros del {first} al {last} de {totalRecords} Registros" [scrollable]="true"
      dataKey="id" scrollHeight="500px" [style]="{ width: '100%' }" [rowsPerPageOptions]="[5, 10]"
      (onLazyLoad)="loadRoles($event)" [loading]="loadingTable" [totalRecords]="totalRecords">
      <ng-template pTemplate="header" let-rowData="rowData">
        <tr>
          <th pSortableColumn="role" style="border: none">Rol</th>
          <th style="border: none">Status</th>
          <th style="border: none">Acciones</th>
        </tr>
        <tr>
          <th style="border: none">
            <input pInputText type="text" (input)="applyFilterGlobal($event,'role', 'contains')"
              placeholder="Busqueda por rol" class="p-column-filter p-inputtext-sm" />
          </th>
          <th style="border: none"></th>
          <th style="border: none"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role let-i>
        <tr [pSelectableRow]="role">
          <td>{{ role.role }}</td>
          <td>
            <span class="badge {{
                role.active == 1 ? 'bg-success' : 'bg-warning'
              }}">{{ role.active == 1 ? "ACTIVO" : "BLOQUEADO" }}</span>
          </td>

          <td>
            <ng-template [ngxPermissionsOnly]="['UPDATE.ROLE']">
              <button class="btn btn-primary btnEditar" [routerLink]="['edit-role', role.hash]">
                <i class="pi pi-pencil" style="font-size: 0.8rem"></i>
              </button>
            </ng-template>
            &nbsp;
            <ng-template [ngxPermissionsOnly]="['READ.ROLE']">
              <button class="btn btn-secondary" [routerLink]="['detail-role', role.hash]">
                <i class="pi pi-eye"></i>
              </button>
            </ng-template>
            &nbsp;

            <ng-template [ngxPermissionsOnly]="['DELETE.ROLE']">
              <button class="btn btn-danger" (click)="deleteRole(role, i)">
                <i class="pi pi-trash"></i>
              </button>
            </ng-template>

          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft"> </ng-template>
      <ng-template pTemplate="paginatorright"> </ng-template>
    </p-table>
  </div>

  <div *ngIf="!cargando && roles.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>
</div>
