<router-outlet></router-outlet>

<div class="card centrar">
  <p-card>
    <div align="center">
      <div class="col-12 ">
        <img src="../../../../assets/images/home.png" width="50%" height="50%">
      </div>
      <div class="col-12">
        <h4>PROYECTO TERMINAL II</h4><br>
      </div>
      <div class="col-12">
        <h6 style="color:grey;">¡Bienvenido al Sistema de Monitorización en Tiempo Real Signos Vitales de Personas de la
          Tercera Edad!</h6><br>
      </div>
      <div class="row" style="    display: flex; justify-content: center;">

      </div>
    </div>
  </p-card>
</div>
