<router-outlet></router-outlet>
<div *ngIf="router.url == '/managment/manage-users'">
  <div class="card centrar">
    <header>
      <h1 class="text-center title">Administraci&oacute;n cuentas de usuarios</h1>
    </header>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-button styleClass="p-button-sm" label="Inicio" [routerLink]="['/home']"></p-button>
      </ng-template>

      <ng-template pTemplate="right">
        <ng-template [ngxPermissionsOnly]="['CREATE.USER']">
          <p-button styleClass="p-button-sm p-button-success" label="Nuevo Usuario" icon="pi pi-plus"
            [routerLink]="['new-user']"></p-button>
        </ng-template>
      </ng-template>
    </p-toolbar>
    <p-table styleClass="p-datatable-sm p-datatable-striped p-datatable-responsive-demo" #dt [value]="users"
      [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      currentPageReportTemplate="Registros del {first} al {last} de {totalRecords} Registros" [scrollable]="true"
      dataKey="id" scrollHeight="500px" [style]="{ width: '100%' }" [rowsPerPageOptions]="[5, 10]"
      (onLazyLoad)="loadUsers($event)" [loading]="loadingTable" [totalRecords]="totalRecords">

      <ng-template pTemplate="header" let-rowData="rowData">
        <tr>
          <th pSortableColumn="username" style="border: none">Usuario</th>
          <th pSortableColumn="firstName" style="border: none">Nombre</th>
          <th pSortableColumn="middleName" style="border: none">
            Apellido Paterno
          </th>
          <th pSortableColumn="lastName" style="border: none">
            Apellido Materno
          </th>

          <th pSortableColumn="roles.role" style="border: none">Rol</th>
          <th pSortableColumn="status" style="border: none">Status</th>
          <th style="border: none" >Acciones</th>
        </tr>
        <tr>
          <th style="border: none">
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'username', 'contains')"
              placeholder="Busqueda por usuario" class="p-column-filter p-inputtext-sm" />
          </th>
          <th style="border: none">
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'firstName', 'contains')"
              placeholder="Busqueda por nombre" class="p-column-filter p-inputtext-sm" />
          </th>
          <th style="border: none">
            <input pInputText type="text" (input)="
            applyFilterGlobal($event, 'middleName', 'contains')" placeholder="Busqueda por apellido paterno"
              class="p-column-filter p-inputtext-sm" />
          </th>
          <th style="border: none">
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'lastName', 'contains')"
              placeholder="Busqueda por apellido materno" class="p-column-filter p-inputtext-sm" />
          </th>

          <th style="border: none">
            <input pInputText type="text" (input)="
            applyFilterGlobal($event, 'roleName', 'contains')" placeholder="Busqueda por rol"
              class="p-column-filter p-inputtext-sm" />
          </th>
          <th style="border: none"></th>
          <th style="border: none"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-i>
        <tr [pSelectableRow]="user">
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.middleName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.roleName }}</td>
          <td>
            <span class="badge {{ user.active == 1 ? 'bg-success' : 'bg-warning' }}">{{ user.active == 1 ? "ACTIVO" :
              "BLOQUEADO" }}</span>
          </td>
          <td>
            <ng-template [ngxPermissionsOnly]="['EDIT.USER']">
              <button class="btn btn-primary btnEditar" [routerLink]="['edit-user', user.id]">
                <i class="pi pi-pencil" style="font-size: 0.8rem"></i>
              </button>
            </ng-template>
            &nbsp;
            <ng-template [ngxPermissionsOnly]="['READ.USER']">
              <button class="btn btn-secondary" [routerLink]="['detail-user', user.id]">
                <i class="pi pi-eye"></i>
              </button>
            </ng-template>
            &nbsp;
            <ng-template [ngxPermissionsOnly]="['EDIT.PATIENT']">
              <button class="btn btn-warning" (click)="openTokenModal(user)" title="Agregar Token">
                <i class="pi pi-key"></i>
              </button>
            </ng-template>
            &nbsp;
            <ng-template [ngxPermissionsOnly]="['DELETE.USER']">
              <button class="btn btn-danger" (click)="DeleteUser(user, i)">
                <i class="pi pi-trash"></i>
              </button>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft"> </ng-template>
      <ng-template pTemplate="paginatorright"> </ng-template>
    </p-table>
  </div>

  <div *ngIf="!cargando && users.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>

</div>
<p-dialog header="Agregar Token" [(visible)]="tokenDialog" [modal]="true" [closable]="true" [dismissableMask]="true">
  <div class="p-fluid">
    <div class="p-field">
      <label for="token">Token</label>
      <input id="token" type="text" pInputText [(ngModel)]="tokenValue" />
    </div>
    <div class="p-d-flex p-jc-end">
      <button pButton type="button" label="Guardar" (click)="saveToken()" class="p-button-success"></button>
    </div>
  </div>
</p-dialog>