.navbar {
  background-color: #163E74 !important;
  box-shadow      : 0 0 8px #163E74;
  display         : block;
}

.navbar-center {
  position :relative;
  left     : 50%;
  transform: translatex(-50%);
}
