<div class="card centrar">
  <h5 class="card-header text-center">Geolocalizaci&oacute;n</h5>
  <div class="card-body">
    <form [formGroup]="datesGroup" (ngSubmit)="AddShapes()" class="needs-validation center" novalidate="novalidate">
      <div class="row">
        <div class="flex-container">
          <div class="col-sm-2">
            <label for="initialDate">Fecha de inicio<span style="color: red">*</span></label><input type="date"
              class="form-control" formControlName="initialDate" id="initialDate">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <label for="endDate">Fecha de fin<span style="color: red">*</span></label><input type="date"
              class="form-control" formControlName="endDate" id="endDate">
          </div>
          <div class="flex-item-search">
            <br>
            <p-button icon="pi pi-search" [loading]="loading" (onClick)="search()" label="Buscar datos"></p-button>
          </div>
        </div>
      </div>
    </form>
    <br>
    <form [formGroup]="shapesGroup" (ngSubmit)="AddShapes()" class="needs-validation center" novalidate="novalidate">
      <div class="row">
        <div class="flex-container">
          <div class="flex-item">
            <div style="font-weight: bold;color:grey;">&nbsp;&nbsp;Capas</div>
            <select2 [data]="shapes" styleMode='default' [templates]="template" id="shape_id" formControlName="shape_id"
              displaySearchStatus="always" placeholder="Selecciona las capas para añadir" [class]="{
          'is-invalid': shape_id.invalid && (shape_id.dirty || shape_id.touched),
          'is-valid': shape_id.valid}">
              <ng-template #template let-data="data">{{data?.name}}</ng-template>
            </select2>
          </div>
          <div class="flex-item">
            <br>
            <p-button icon="pi pi-plus" [loading]="loading" (onClick)="AddShapes()" label="Añadir Capa" size="small"></p-button>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-12">
      <div class="row">
        <section id="loading">
          <div id="loading-content"></div>
          <div id="loading-message" hidden>PROCESANDO RESULTADOS</div>
        </section>

        <section id="error">
          <div id="error-content"></div>
          <div id="error-message" hidden>HA OCURRIDO UN ERROR</div>
        </section>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div id="viewDiv">
                <div #mapViewNode></div>
              </div>
              <div id="timeSlider"></div>
              <div #infoDiv id="infoDiv" class="esri-widget">
                <div #statsDiv id="statsDiv" class="esri-widget"></div><br />
              </div>
              <div id="topbar">
                <button class="action-button esri-icon-measure-line" id="distanceButton" type="button"
                  title="Medir distancia entre dos o más puntos"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
