// @import 'https://js.arcgis.com/4.27/esri/themes/light/main.css';


@media (min-width: 320px) {
    .mapStyle{
      margin-left: 3px;
      margin-top: 72px;
    }
  }

  @media (min-width: 768px) {
    .mapStyle{
      margin-left: 3px;
      margin-top: 72px;
    }
  }

  @media (min-width: 1080px) {
    .mapStyle{
      margin-left: 3px;
      margin-top: 72px;
    }
  }

  @media (min-width: 1440px) {
    .mapStyle{
      margin-left: 3px;
      margin-top: 72px;
    }
  }

  .esri-view {
    padding: 0;
    margin: 0;
    height: calc(100vh - 72px);
    width: 100%;
  }
